<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
Hello from Spring:)

<table border="1">
    <thead>
        <tr>
            <td th:text="${thead.language}"></td>
            <td th:text="${thead.version}"></td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="line: ${tbody}">
            <td th:text="${line.language}"></td>
            <td th:text="${line.version}"></td>
        </tr>
    </tbody>
</table>

<img src="/img/Colors-HP-Logo.jpg" style="width: 500px">

</body>
</html>