<form action="users" method="post">
    <input type="hidden" name="login" value="${login}" >
    <button type="submit" name="choise" value="NO">Dislike</button>
</form>

<form action="users" method="post">
    <input type="hidden" name="login" value="${login}" >
    <button type="submit" name="choise" value="YES">Like</button>
</form>
