<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
5.confirmation
    <p th:text="${cd.seat}">
    <p th:text="${cd.firstname}">
    <p th:text="${cd.lastname}">
    <p th:text="${cd.cardno}">
</body>
</html>